body > #root > div {
  min-height: 100vh;
}
:root {
  --min-width: 100px;
}

@media (min-width: 600px) {
  :root {--min-width: 150px;}
}

@media (min-width: 900px) {
  :root {--min-width: 200px;}
}

.App {
  text-align: center;
  background-color: #282c34;
  padding: 10px;
}

.AnimalList {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-width), 1fr));
  font-size: calc(10px + 2vmin);
  color: white;
}
